@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
body{
    margin:0;
    padding:0;
    background-color:#0d0d0dbe;
    font-family: 'Inter', sans-serif;
}
.container{
    position:relative;
    width:100%;
    height:100vh;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    overflow: hidden;
}
.gamba-top{
    width:340px;
    border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 70px solid #171717;
    margin-top:100px;
}
.gamba-main{
    width:400px;
    height:400px;
    background-color:#0d0d0d;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.gamba-name{
    font-weight: 900;
    font-size:35px;
    color:#fff;
    padding-bottom: 10px;
}
.gamba-screen{
    position: relative;
    width: 340px;
    height: 300px;
    background: #fff;
    border-radius: 50% / 10%;
}
.gamba-screen:after{
    content:" ";
    position:absolute;
    top: 9%;
    bottom: 9%;
    right: -5%;
    left: -5%;
    background-color:#fff;
    border-radius: 5% / 50%;
    z-index: 2;
}
.wymowki{
    width:100%;
    height:1000px;
}
.wymowki-done{
    transition: 5s ease transform;
    transform:translateY(-1700px);
}
.gamba-el-cont{
    position:relative;
    box-sizing: border-box;
    width:340px;
    height: 300px;
    border-radius: 50% / 10%;
    overflow: hidden;
    z-index: 3;
}
.gamba-el{
    position:relative;
    box-sizing: border-box;
    z-index: 3;
    width:100%;
    height:100px;
    color:#0d0d0d;
    font-weight: 900;
    font-size:20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:1px solid #0d0d0d;
}
.gamba-winner{
    position:absolute;
    top:calc(50% - 52px);
    left:-25px;
    z-index: 5;
    box-sizing: border-box;
    width:390px;
    height: 104px;
    border: 5px solid #0d0d0d;
    border-radius: 30px;
}
.gamba-bottom{
    position:relative;
    width:400px;
    border-bottom: 120px solid #171717;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    z-index: 1;
}
.gamba-very-bottom{
    width:500px;
    height:200px;
    background-color:#0d0d0d;
}
.gamba-button{
    position:absolute;
    left:calc(50% - 50px);
    top:0;
    width:100px;
    height:100px;
    border-radius: 50px;
    background-color:#d43535;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    cursor:pointer;
    user-select: none;
    transition: .2s ease top;
}
.gamba-button-click{
    top:10px;
}
.gamba-button-3d{
    position:absolute;
    left:calc(50% - 50px);
    top:10px;
    width:100px;
    height:100px;
    border-radius: 50px;
    background-color:#8a1616;
}
.gamba-el-winner{
    cursor:pointer;
}
.winner{
    position: absolute;
    display:flex;
    align-items:center ;
    justify-content: center;
    z-index: 10;
    width:100%;
    height:100%;
    background-color:#0d0d0d;
    top:100vh;
    font-size:20px;
    transition: 1s ease top;
}
.winner-picked{
    top:0;
}
.winner-msg{
    width:600px;
    line-height: 24px;
}
.badge{
    width:20px;
}
#streamer-name{
    color:#1E90FF;
    font-weight: 900;
}
.winner-title{
    height:60px;
    width:100%;
    text-align: center;
    line-height:60px;
}
.winner-title>span{
    font-weight: 900;
}
.los-button-cont{
    width:100%;
    display: flex;
    justify-content: center;
}
.los-button{
    width:180px;
    height:40px;
    background-color:#d43535;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    user-select: none;
    margin-top: 20px;
    cursor:pointer;
}
.los-button:first-child{
    margin-right:10px;
}
.los-copy{
    background-color:#ebebeb;
    color: #0d0d0d;
}